<p id="notice"><%= notice %></p>
<div class="right_link">
	<%= link_to t('back'), blog_path, :class => :button %>
</div>
<div class="clear sin_titulos"></div>
<div class="box">
	<div class="blog_fecha">
		<%= l(@post.date) %>
	</div>
	<div class="blog_titulos">
		<%= @post.title %>
	</div>
	<div class="blog_images">
		<% @post.post_images.each do |i| %>
			<%= image_tag i.photo.url(:small) %><br>
		<% end %>
	</div>
	<div class="blog_texto">
		<%= raw @post.content.gsub(/\n/, '<br/>') unless @post.content.blank? %>	
	</div>
	<div class="blog_share">
		<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ecbca393feb795f"></script>
	</div>
	<br />
	<div class="titulos top_dottedLine">
		<%= t('commentaries') %>
	</div>
	<% unless @post.blog_comments.blank? %>
	<% @post.blog_comments.each do |comment| %>
		<% unless comment.comment.blank? %>
			<div class="box_comment_display dottedLine">
				<div class="comment_display" style="font-weight:bolder;">
					 <%= comment.name %><br/>
					 <span style="font-weight:lighter; font-size:11px;"> <%= l(comment.created_at, :format=>:short) %><br/>
					 	dijo:</span> 
				</div>
				<div class="comment_display">
					<%= content_tag(:span, (comment.comment.gsub(/\n/, '<br/>')).html_safe ) %>
				</div>
			</div>		
		<% end %>
	<% end %>
	<% end %>
  <div class="clear sin_titulos"></div>
  <div class="fb-comments" data-href="<%= request.url %>/" data-num-posts="4" data-width="690"></div>

</div>
