<%= content_for :products_and_services_page_in_content do %>
	<div class="conversation_main">
		<% if @is_new %>
			<div class="new_conversation_form">		
				<%= render 'products_and_services_catalog/new_conversation_form' %>
			</div>
		<% else %>
			<div id="message_history"><%= render 'products_and_services_catalog/message_history' %></div>
			<div class="content"><br/>
				<%= nested_form_for @message,:html => { :multipart => true }, :url => conversations_create_message_path(@message, :conversation_id => @conversation.id, :transmitter => current_user.email, :object_name => @object_name ), :remote => true, :validate => true do |f| %>
					<div class="attached_box">				
						<div class="message_area" style="width:560px;float:left;">
							<%= f.text_area :content, :size => "10x1" %> 
						</div>
						<div style="float:right;">
							<% if current_user.user_account.has_enough_info %>
								<%= f.submit t("send"), :class => 'button' %> <%= image_tag "loading.gif", :class => :select_loading, :style => "display:none;" %>
							<% else -%>
								<%= render "layouts/no_enough_user_info", :word => t('send'), :link_class => 'button' %>
							<% end -%>
						</div>
							<div style="clear:both;">
								<%= f.fields_for :attached_files do |attached_file_form| %>
									<div><%= attached_file_form.file_field :attached %> <%= attached_file_form.link_to_remove "✘", :title => t('remove') %></div><br>
								<% end %>
								<%= f.link_to_add t('add_attached_file'), :attached_files %>					
							</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div> 
<% end %>
<%= render "products_and_services_page" %>
